<h2>Tickets Homepage</h2>

<a href='/tickets/new'>Create New Ticket</a>

<h3>Welcome <%= @user.username %></h3>

<h4 class='list'>Your Tickets:</h4>
  <ul>
    <% @tickets.each do |ticket| %>
      <li>
        Movie Name: <%=ticket.movie_name%>
        Date: <%=ticket.date%>
        Movie Theater: <%=ticket.movie_theater%>
      </li>
    <%end%>
  </ul>
