<div class="container">

  <h2>Welcome!</h2>

    <div class="content">
      <p>
        This sinatra app can help you to manage your movie tickets!
      </p>
      <p>
        Please <a href='/login'>Log In</a> or <a href='/signup'>Sign Up</a>
      </p>
    </div>

</div>
